<aside class="sidebar">
  <div class="sidebar-inner">
    <h2 class="logo">Khải.dev</h2>

    <nav>
      <ul>
        {{ range .Site.Menus.main }}
          <li>
            {{ if .HasChildren }}
              <span class="menu-parent">{{ .Name }}</span>
              <ul class="submenu">
                {{ range .Children }}
                  <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</aside>